### VS Code
export/*
.vscode/*
.haxelib/
*.code-workspace
# local history that shouldn't be shared.
.history
# ! means that a file should be added regardless of whether it was ignored before.
# Including to allow third parties to use already defined settings adjusted for the project.
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json